# SQL Part 3 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free reference your previous notebooks.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You are an employee at a small independet bookstore and you have been tasked to increase sales.  You decide to use the BooksDB to find books and themes to highlight in fun promotions throughout each month / season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of events/ promotions to run each month.  If you are looking for ideas to include in your promotions:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, Dr Seuss Day(3/2), National Pie Day3/14, St Patrick's Day (3/17), Season - Spring

### **Event 1:** Women's History Month

Goal: Highlight Popular Womans Authors based on ratings from the Good Reads DB.

### **Write a query that returns tag\_id, the number of times each tag\_id is used and the tag\_name.**  

### Use the GROUP BY and HAVING clause to narrow your focus.

Try multiple keywords, ie woman vs female (female ended up giving better results)

In [17]:
SELECT TOP 5 t.tag_name, bt.tag_id, SUM(bt.count) AS total
FROM BooksDB.dbo.book_tags AS bt
FULL JOIN BooksDB.dbo.tags AS t
ON bt.tag_id = t.tag_id
GROUP BY t.tag_name, bt.tag_id
HAVING t.tag_name LIKE '%female%'
ORDER BY total DESC

tag_name,tag_id,total
female-author,11643,17999
female-authors,11644,13690
female-protagonist,11658,2554
female-detective,11646,302
female-pov,11656,155

### **Which keyword(s) and tag(s) would you like to explore more?**

**doggies**

### **Write a query to return authors, titles, ratings and** **selected tag(s)\_id.**

In [19]:
SELECT TOP 10 b.authors, b.title, b.average_rating, t.tag_id
FROM BooksDB.dbo.books as b
INNER JOIN BooksDB.dbo.book_tags as t
ON b.book_id = t.goodreads_book_id
WHERE tag_id = 11643
ORDER BY tag_id, average_rating DESC

authors,title,average_rating,tag_id
"J.K. Rowling, Mary GrandPré","The Harry Potter Collection 1-4 (Harry Potter, #1-4)",4.66,11643
Bisco Hatori,"Ouran High School Host Club, Vol. 15 (Ouran High School Host Club, #15)",4.54,11643
Robin Hobb,"Fool's Quest (The Fitz and The Fool, #2)",4.53,11643
Michelle Alexander,The New Jim Crow: Mass Incarceration in the Age of Colorblindness,4.49,11643
Chimamanda Ngozi Adichie,We Should All Be Feminists,4.47,11643
"Julia Donaldson, Axel Scheffler",The Gruffalo,4.47,11643
"J.K. Rowling, Mary GrandPré","Harry Potter and the Order of the Phoenix (Harry Potter, #5)",4.46,11643
Flannery O'Connor,The Complete Stories,4.44,11643
Lois McMaster Bujold,"A Civil Campaign (Vorkosigan Saga, #12)",4.43,11643
Yaa Gyasi,Homegoing,4.41,11643

### **Record your thoughts about why you wrote the query the way you did**

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions.

Which month did you choose?  

What 2 events / promotions are you highlighting?

> 1. May

> 2. Memorial Day and Mother's Day

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in the BooksDB to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a HAVING clause.

In [22]:
SELECT TOP 5 t.tag_name, bt.tag_id, SUM(bt.count) AS total
FROM BooksDB.dbo.book_tags AS bt
FULL JOIN BooksDB.dbo.tags AS t
ON bt.tag_id = t.tag_id
GROUP BY t.tag_name, bt.tag_id
HAVING t.tag_name LIKE '%veteran%'
ORDER BY total DESC

tag_name,tag_id,total
veterans,31836,86
afghanistan-veteran,1744,11
veteran,31835,2

### **Summary of event 1:** Checked out tags that have the word veteran in them in honor of Memorial Day.

In [27]:
SELECT b.title, COUNT(tr.user_id) AS 'Number of To-Read Lists'
FROM BooksDB.dbo.books AS b
JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title LIKE '%mother%'
GROUP BY b.title
ORDER BY COUNT(tr.user_id) DESC

title,Number of To-Read Lists
The Mother Tongue: English and How It Got That Way,348
Mother Night,23
Mother of Pearl,18

### **Summary of event 2:** Shows titles containing mother and how many to-read lists the book is on.